<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Thymeleaf 링크처리 예제 페이지</h1>

    <!-- 상대좌표 -->
    <div>
        <a th:href="@{/thymeleaf/ex01}">예제1 페이지 이동</a>
    </div>

    <!-- 절대좌표 -->
    <div>
        <a th:href="@{https://www.thymeleaf.org}">thymeleaf 공식 페이지 이동</a>
    </div>

    <!-- 절대좌표 -->
    <div>
        <a th:href="@{/thymeleaf/ex06(param1 = '파라미터 데이터1',
                    param2 = '파라미터 데이터2')}">thymeleaf 파라미터 전달</a>
    </div>

    <table border="1">
        <thead>
            <tr>
                <td>순번</td>
                <td>상품명</td>
                <td>상품설명</td>
                <td>가격</td>
                <td>상품등록일</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="itemDto, status: ${itemDtoList}">
                <td th:switch="${status.even}">
                    <!-- 짝수라면 -->
                    <span th:case="true">짝수</span>
                    <!-- 짝수가 아니라면 -->
                    <span th:case="false">홀수</span>
                </td>
                <td th:text="${itemDto.itemNm}"></td>
                <td th:text="${itemDto.itemDetail}"></td>
                <td th:text="${itemDto.price}"></td>
                <td th:text="${itemDto.regTime}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>